.slider {
  border-right: 0.5px solid lightgray;
  min-height: 100vh;
  background-color: #19376D;
  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
  }

  .center {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
    }

    li {
      height: 35px;
      display: flex;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      align-items: center;
      svg {
        height: 23px;
        width: 30px;
        padding-right: 5px;
      }
      &.default{
        color: #cfcfcf;
        svg {
          color: #cfcfcf;
        }
      }
      &.active{
        background-color: #576CBC;
        color: white;
        svg {
          color: white;
        }
      }

      &:hover {
        background-color: #576CBC;
        color: white;
        svg {
          color: white;
        }
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid white;
  }
}
