.showtime {
  flex: 1;
  .showtime__room_container {
    margin-left: 3%;
    .showtime__room {
      border: 1px solid;
      .showtime__room__date {
        width: 100%;
        margin-left: 30px;
        .showtime__room__date__movie {
          display: flex;
          margin-left: 30px;
          .showtime__room__date__movie__time {
            border: 1px solid;
            margin: 0 30px;
            text-align: center;
            display: flex;
            .showtime__room__date__movie__time__item {
              margin-left: 20px;
              border: 1px solid;
              padding: 10px;
              margin-right: 50px;
            }
            button {
              height: 40px;
              background: #e79c9c;
              color: #fff;
              font-weight: bold;
            }
          }
        }
        button {
          height: 40px;
          background: #e79c9c;
          color: #fff;
          font-weight: bold;
          margin-right: 30px;
        }
      }
    }
  }
  .showtime__form_container {
    border: 1px solid #da4747;

    .showtime__suggest {
      border: 1px solid #0d4970;
      .showtime__suggest__item {
        .showtime__suggest__item__time {
          display: flex;
          .showtime__suggest__item__time__item {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
